*{
  width:5000;
  margin: 0;
}
#gameCanvas{
  width: 800px;
  height: 500px;
  background: url('./queuesInfo.jpg');
  background-size: cover;
  background-position: center;
  align-self: center;
  outline: black 10px solid;
  position: relative;
  padding: 0;
  margin: 55px;
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  font-family: 'Britannic';
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#start {
  align-self: center;
  border: 2px solid black;
  font-family: 'Britannic';
  background-color: white;
  border-radius: 8px;
  height: 45px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.4s;
  margin-top: 5px;
}
#start:hover {
  background-color: rgb(199, 199, 199);
}
.buttons {
  align-self: center;
  gap: 30px;
  margin-bottom: 10px;
  #blueCar{
    border: 2px solid #5d7de5;
    font-family: 'Britannic';
    background-color: white;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.4s;
  }
  #blueCar:hover {
    background-color: #5d7de5; 
  }
  #pinkCar {
    border: 2px solid #c54d82;
    font-family: 'Britannic';
    background-color: white;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.4s;
  }
  #pinkCar:hover {
    background-color: #c54d82;
  }
  #purpleCar {
    border: 2px solid #a355ff;
    font-family: 'Britannic';
    background-color: white;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.4s;
  }
  #purpleCar:hover {
    background-color: #a355ff;
  }
  #yellowCar {
    border: 2px solid #f8d907;
    font-family: 'Britannic';
    background-color: white;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.4s;
  }
  #yellowCar:hover {
    background-color: #f8d907;
  }
  #blueCar{
    border: 2px solid #5d7de5;
    font-family: 'Britannic';
    background-color: white;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.4s;
  }
}

.header{
  display: flex;
  font-size:40px;
  height: 35px;
  background: rgb(40, 132, 198);
  color: white;
  padding: 30px;
  padding-left: 15px;
  align-items: center;
  gap:16px;
}
.footer{
  display: flex;
  font-size:20px;
  height: 20px;
  background: rgb(40, 132, 198);
  color: white;
  padding: 30px;
  align-self: right;
  justify-content: flex-end;
  position:relative;
  margin-top:auto;
  clear:both;
}
button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}
img {
  width: 70px;
  height: 70px;
}