#gameCanvas{
  width: 800px;
  height: 500px;
  background: url('./trafficBackground.jpg');
  background-size: cover;
  background-position: center;
  align-self: center;
  outline: black 10px solid;
  position: relative;
  padding: 0;
  margin: 55px;
  display: block;
}
.canvas {
  border: 1px solid black;
}

body {
  font-family: 'Britannic';
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  font-size:40px;
  height: 35px;
  background: rgb(40, 132, 198);
  color: white;
  padding: 30px;
  padding-left: 80px;
  align-items: center;
}
.footer{
  display: flex;
  font-size:20px;
  height: 20px;
  background: rgb(40, 132, 198);
  color: white;
  padding: 30px;
  align-self: right;
  justify-content: flex-end;
  position:relative;
  margin-top:auto;
  clear:both;
}
.cars{
  img{
      width: 400px;
  }
  #car1image{
      transform: rotate(90deg);
      position:absolute;
      top: 52.5%; 
      left: 23.5%; 
      
  }
  #car2image{
      transform: rotate(180deg);
      position:absolute;
      top: 16.3%; 
      left: 26.75%; 
  }
  #car3image{
      position:absolute;
      top: 56.5%; 
      left: 45.75%; 
  }
  #car4image{
      transform: rotate(-90deg);
      position:absolute;
      top: 20.5%; 
      left: 49.75%; 
  }
}



